div.account-container{
  width: 80%;
  margin: auto;
  height: 400px;
}

#account_title{
  padding-top: 100px;
  text-align: center;
}

#account_btn{
  position: relative;
  float: right;
  margin-right: 20px;

}

