/** les style générals */


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  nav ul li{
   visibility: hidden;
  }


  .active ul li {
   visibility: visible;
  }

  #icon-burger:before {
    content: "\2630";
  }


.active #icon-burger:before{
      content: "\2715";
    }

.contact-container {
  height: auto;
  width: 80%;
  margin: auto;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 1024px) {

  nav ul li{
    visibility: hidden;
    
   }

   .active ul li {
    visibility: visible;
 
   }

  #icon-burger:before {
    content: "\2630";
  
  }

  .active#icon-burger:before {
    content: "\2715";
  
}
}
.first-header{
  /* display: flex; */
  background:#003366;
  height: 100px;
  color: var(--text-white);
}


.brand{
  color: var(--text-white);
}

nav ul{
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  background: var(--section-background);
  height: 60px;
  margin-top: 0;
  
}

ul li a{
  color: black;
  text-decoration: none;
  
}



